<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Summer Autumn </title>
    <meta name ="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<header class="w3-container w3-teal w3-center">
    <h1>Summer Autumn Blog</h1>
</header>

<div class="w3-container w3-center">
    <H2>{{posts.title}}</H2>
    <h5>{{posts.created_at}}</h5>
    <p>{{posts.body}}</p>
</div>


<footer class="w3-container w3-teal w3-center">
    <h1>Summer Autumn Blog &copy; 2023</h1>
</footer>
</body>
</html>